nav {
    background-color:rgb(90, 48, 19);
    justify-content: space-around !important;
}

#nav {   
 font-size:large; 

}
#logo{
    width: 50px ;
    height: 40px ;
    margin:7px ; 
    color: rgb(253, 241, 222); 
}
#demo{
    margin: 50px 10%;
}
#logo{
    width: 50px ;
    height: 40px ;
    margin:7px ; 
    color: rgb(253, 241, 222); 
}
#logo:hover{
    width: 60px;
    height: 50px;
    cursor: pointer;
    
}
h2{
    margin: 20px !important;
    text-align: center;
}
h2:hover{
    font-size: 36px;
    color:rgb(90, 48, 19);
    cursor:pointer;
    text-shadow: 1px 1px 4px red;
}
#menubtn:hover{
    font-size: 30px;
    }
    body{
        background-color: rgb(253, 241, 222) !important;
       
    }
    #myhizmet{
        text-align: center;
        justify-content: space-evenly;
        /* margin: 20px; */
        color: #EEEADD;
        background-image: url('../images/francesca.jpg');
        background-attachment: fixed;
        background-size: cover;
        
    }
    #hizmet{
        justify-content: space-around;
        border: black  2px;
        border-style:solid;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 50px;
    }
    #hizmet h3{
        padding: 8px;
        color: rgb(90, 48, 19);
        text-shadow: 2px 2px 5px red;
    }
    #hizmet:hover{
        cursor: pointer;
        position: relative ;
        right: 10px;
        bottom: 20px;
        box-shadow: 4px 4px 10px 5px  rgb(92, 91, 91);
        font-weight: bold;
        color: rgb(90, 48, 19);
        background-color: rgb(253, 241, 222);
        
    }